<div class="container mt-4">
  <div class="card d-flex mt-4">



      <div class="card-header">
        <h4>Student
          <a (click)="backClicked()" class="btn btn-primary float-end btn-danger">Back</a>
        </h4>
      </div>
      <div *ngIf="isLoading">
        <div class="spinner-border">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div *ngIf="student">
      <div class="card-body">

        <form [formGroup]="formData" (ngSubmit)="saveStudent()">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" formControlName="name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
              <div *ngIf="f['name'].errors['required']">Fullname is required</div>
            </div>
          </div>


          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" name="email">
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
              <div *ngIf="f['email'].errors['required']">Email is required</div>
              <div *ngIf="f['email'].errors['email']">Email is invalid</div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Update</button>

        </form>
      </div>
    </div>

  </div>

</div>
