<div class="container mt-4">
  <div class="card d-flex mt-4">



      <div class="card-header">
        <h4>Student
          <a (click)="backClicked()" class="btn btn-primary float-end btn-danger">Back</a>
        </h4>
      </div>
      <div *ngIf="isLoading">
        <div class="spinner-border">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div *ngIf="student">
      <div class="card-body">

        <form [formGroup]="formData" (ngSubmit)="saveStudent()">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" formControlName="name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
              <div *ngIf="f['name'].errors['required']">Fullname is required</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">number</label>
            <input type="text" formControlName="number" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['number'].errors }" />
            <div *ngIf="submitted && f['number'].errors" class="invalid-feedback">
              <div *ngIf="f['number'].errors['required']">Fullname is required</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Price</label>
            <input type="text" formControlName="price" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['price'].errors }" />
            <div *ngIf="submitted && f['price'].errors" class="invalid-feedback">
              <div *ngIf="f['price'].errors['required']">Fullname is required</div>
            </div>
          </div>


          
          <!-- <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">price</label>
            <input type="text" class="form-control" formControlName="price" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" name="price">
            
          </div>
<div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Number</label>
            <input type="text" class="form-control" formControlName="number" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['number'].errors }" name="number">
            
          </div> -->
          <button type="submit" class="btn btn-primary">Update</button>

        </form>
      </div>
    </div>

  </div>

</div>
